@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* same height as your navbar */
  }

  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #a2e8e2; /* Soft aqua */
    color: #1f2937;            /* Dark gray */
  }
  

  .bg-hero {
    background-image: url('/hero-clean.jpg');
  }
  
  
  